/*------------------------------------------------------*/
/******* CODE GéNEéAL ******/
/*------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
	margin: 0;
	padding: 0;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
	font-family: 'Varela Round', sans-serif;
}

/*------------------------------------------------------*/
/******* HEADER ******/
/*------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    padding: 10px 0;
    z-index: 10;
}

.logo-asso {
    width: 60px;
    height: 60px;
    margin-right: 50px;
}

.logo-asso:hover {
    transform: scale(1.2);
    transition-duration: .5s;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    height: 70px;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
}

nav ul li a:hover {
    color: #fff;
    background-color: #b3aaaa;
}

/*------------------------------------------------------*/
/******* CAROUSSEL & ENCARS-TITRE ******/
/*------------------------------------------------------*/
.caroussel-titre {
    height: 550px;
}


.content-caroussel {
    height: 500px;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px 20px 20px;
    gap: 20px;
}

/***** CAROUSSEL *****/
.caroussel {
    width: 50%;
}

.carousel-control-next {
    background-color: #c2bfbf;
    opacity: 0.2;
    border-radius: 30px 0 0 30px;
}

.carousel-control-prev {
    background-color: #c2bfbf;
    opacity: 0.1;
    border-radius: 0 30px 30px 0;
}

.carousel .carousel-indicators .active {
    background-color: #000;
}

/***** ENCARS-TITRE *****/
.encars-titre {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.img-debre {
	border-radius: 5px;
	width: 120px;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.main-text {
    color: #332c2c;
    font-size: 2rem;
}

.titreh3 {
    color: #645c5c;
    font-size: .8rem;
}

p {
    color: #332c2c;
    font-size: 1.2rem;
}

/*------------------------------------------------------*/
/******* NOUVELLES ******/
/*------------------------------------------------------*/

.news {
    height: 720px;
}

/***** BANDEAU TITRE NOUVELLES  ET TéMOIGNAGES *****/
.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2rem;
	font-weight: bold;
    background-color: #fff;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    color: #0ebcf1;
    height: 100px;
	padding: 8px;
}

/***** SECTION CARTES NEWS *****/
.all-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.content-card {
    width: 480px;
    height: 600px;
}

/***** IMAGES CARTES NEWS *****/
.card-image {
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px 5px 0 0;
}

.img-news {
    width: auto;
    height: 280px;
}

/***** CONTENT TEXTE CARTES NEWS *****/
.card-news {
    height: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

/***** TITRE CARTES NEWS *****/
.card-news h4 {
    font-weight: bold;
    padding-top: 10px;
    font-size: 22px !important;
}

/***** TEXTE CARTES NEWS *****/
.card-news p {
    padding: 22px 0 27px;
}

/***** BOUTON CARTES NEWS *****/
.card-news .button-card {
    border: 1px solid rgba(47, 116, 116, 1);
    background: rgba(47, 116, 116, 1);
    padding: 20px 22px;
    line-height: 10px;
    color: white;
    text-transform: uppercase;
    float: left;
    cursor: pointer;
}

.button-card:hover {
	background: none;
	border: 1px solid #2f7474;
	color: #2f7474;
}

/***** DATE CARTES *****/
.date {
	position: relative;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

.date .fa {
	font-size: 20px;
	line-height: 30px;
	position: relative;
	float: left;
	padding-left: 30px;
    color: #332c2c;
}

.date span {
	font-size: 14px;
	line-height: 30px;
	color: #bac4ca;
	position: relative;
	float: left;
	padding-left: 8px;
}

/*------------------------------------------------------*/
/******* TéMOIGNAGES ******/
/*------------------------------------------------------*/

.temoignages {
    height: 800px;
    margin-top: 50px;
}

/***** SECTION CARTES TéMOIGNAGES *****/
.all-temoignages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

/***** CONTENT CARTES TéMOIGNAGES *****/
.content-card-temoignages {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin-left: 20px;
}

/***** IMAGES CARTES TéMOIGNAGES *****/
.card-image-temoignages {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px 0 0 5px;
}

.img-temoignages {
    width: 300px;
    height: 180px;
}

/***** CONTENT TEXTE CARTES TéMOIGNAGES *****/
.card-temoignages {
    background-color: #fff;
    border-radius: 0  5px 5px 0 ;
    width: 600px;
    padding: 20px;
}

/***** TITRE CARTES TéMOIGNAGES *****/
.card-news h4 {
    font-weight: bold;
    padding-top: 10px;
    font-size: 22px !important;
}

/***** TEXTE CARTES TéMOIGNAGES *****/
.card-news p {
    padding: 22px 0 27px;
}